<h1>{{ building.name }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url 'tracker:set_error' building.pk %}" method="post">
<!--this tag is a convenient way to avoid cross site scripting-->
    {% csrf_token %}
    {% if error %}
        <h2>There was an error: {{error}}</h2>
    {% else %}
        {% for event in building.event_set.all %}
        <!--name dictates the variable in the POST data-->
        <!--avoided using forloop.counter since I want to display each event's key value-->
            <input type="radio" name="Event" id="event{{ event.pk }}" value="{{ event.pk }}" />
            <label for="event{{ event.pk }}">Event {{ event.pk }}</label><br />
        {% endfor %}
    {% endif %}
<input type="submit" value="error" />
</form>